<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Nom du site *Fait par Sacha Pastor* -->
      <title>Learn-Solfege</title>
      <!-- Lien vers le fichier CSS externe *Fait par Sacha Pastor* -->
      <link rel="stylesheet" href="/static/pages/css/style-resultats.css">
      <!-- Favicon du site *Fait par Sacha Pastor* -->
      <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
   </head>
   <body>
      <!-- Section En-Tête *Fait par Sacha Pastor* -->
      <div class="header">
         <!-- Le logo et les liens vers les pages *Fait par Sacha Pastor* -->
         <a href="../." class="logo">
         <img src="/static/images/logo2-min.png" alt="Logo Learn-Solfège"/>
         </a>
         <a class="button" href="../pages/histoire.html">Histoire</a>
         <a href="../pages/partition.html" class="button">Lire une partition</a>
         <a href="../pages/tonalite.html" class="button">Tonalités</a>
         <a href="../pages/accords.html" class="button">Accords</a>
         <div class="header-droit">
            <a class="finalexam" href="../pages/finaltest.html">Test Final</a>
         </div>
      </div>
      <!-- Zone où sera affiché le résultat (Venant de la page finaltest.html) *Fait par Sacha Pastor* -->
      <div id="resultats">
         <!-- On retranscrit les placeholders venant du Python *Fait par Sacha Pastor* -->
         <h1>Résultats pour {{ prenom }} {{ nom }}</h1>
         <p>Score: {{ score }} / {{ totalQuestions }}</p>
         <h2>Corrections:</h2>
         <!-- Boucle Jinja2 qui récupère la key (question) et le dictionnaire associé (value/reponse_soumise (Les reponses attendues et soumises)) *Fait par Sacha Pastor* -->
         {% for question, details in corrections.items() %}
         <div>
            <p>{{ question }}:</p>
            <p>Réponse attendue: {{ details.attendue }}</p>
            <p>Réponse soumise: {{ details.soumise }}</p>
         </div>
         <!-- Fin de la boucle *Fait par Sacha Pastor* -->
         {% endfor %}
      </div>
      <!-- Crédits avec les contributeurs du site *Fait par Sacha Pastor* -->
      <div id="credits">
         <h3>Contributeurs du site :</h3>
         <p>Sacha PASTOR, Coordination et Supervision/JavaScript/Python et Interactivité/Optimisation et Finalisation</p>
         <p>Eloi GUILLOT, Améliorations HTML et CSS/Design réactif/Assistance au débogage</p>
         <p>Noa PAGESSE, Contenu Textuel et Recherches/Tests et Retours/HTML et Structure du Site</p>
      </div>
      <!-- Pied de Page (Footer) *Fait par Sacha Pastor* -->
      <footer>
         <a href="../.">
         <img src="/static/images/logo-min.png" alt="Logo Learn-Solfège"/>
         </a>
         <p class="top"></p>
         <!-- Texte *Fait par Eloi Guillot* -->
         <h1>Description</h1>
         <p>“Learn-Solfege” est un site d’apprentissage en ligne dédié à l’enseignement du solfège et de la musique.
            <br>Ce site propose des cours clairs et concis pour comprendre les fondements de l’écriture musicale, des
            <br>quiz, des jeux et des exercices pour s’entraîner, ainsi que des utilitaires pour tous les musiciens.
         </p>
         <a href="https://alkhwarizmique.go.yo.fr" class="button">- Site Cours NSI</a>
         <p class="copyright">© Copyright 2023 Learn-Solfege</p>
         <p class="bottom"></p>
      </footer>
   </body>
</html>